<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" throwExceptions="true" internalLogFile="${basedir}/App_Data/nlog.txt" internalLogLevel="Debug" internalLogToConsole="true">
  <variable name="logDirectoryError" value="${basedir}/logs/${date:format=yyyy}/${date:format=MM}"/>

  <targets>
    <!--Useful for debugging-->
    <target name="fileError" type="File" fileName="${logDirectoryError}/${shortdate}_Error.log"
     layout="${date:format=dd/MM/yyyy HH\:mm\:ss}; ${message}" />

  </targets>

  <rules>
    <logger name="*" levels="Error" writeTo="fileError" />
  </rules>

</nlog>
